@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

.mat-form-field, .mat-form-field-infix {
    width: 100%;
}

.card {
    border-radius: 5px;
}

section.content.mindfight-active {
    margin-right: 315px;
}

.sidebar#leftsidebar.mindfight-active {
    display: none;
}

#top-navbar.mindfight-active {
    pointer-events: none;
}

.ls-closed section.content.mindfight-active {
    margin-right: 0;
}

.header-highlight {
    background-color: darkcyan;
}

.header-highlight-text {
    color: white !important;
}
