<div [@routerTransition]>
    <div class="col-md-12 paddingless">
        <div class="col-md-6 paddingless">
            <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
                    [routerLink]="['/app/mindfights/' + mindfightId + '/edit']" title="Grįžti į protmūšio puslapį">
                <i class="fa fa-arrow-circle-left fa-xs"></i> Protmūšis
            </button>
            <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
                    [routerLink]="['/app/mindfights/' + mindfightId + '/edit/tours']" title="Grįžti į turų sąrašą">
                <i class="fa fa-arrow-circle-left fa-xs"></i> Turai
            </button>
        </div>
        <div class="col-md-6 paddingless display-flex flex-end">
            <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
                    [routerLink]="['/app/mindfights/' + mindfightId + '/edit/tours/' + tourId + '/questions']" title="Turo klausimai">
                Klausimai <i class="fa fa-arrow-circle-right fa-xs"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Turas</span>
                    </h4>
                </div>
                <div class="modal-body text-center">
                    <div *ngIf="tour">
                        <span>Klausimų skaičius: <b>{{tour.questionsCount}}</b></span>
                        <br />
                        <span>Viso taškų skaičius: <b>{{tour.totalPoints}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content" *ngIf="tour">
                <div class="header display-flex align-center">
                    <div class="col-xs-8 display-flex">
                        <h2>
                            {{tour.title}}
                        </h2>
                    </div>
                    <div class="col-xs-4 display-flex flex-end">
                        <button [routerLink]="['/app/mindfights/' + mindfightId + '/edit/tours/' + tour.id + '/edit']"
                                type="button" class="btn white waves-effect waves-light">
                            <i class="fa fa-edit"></i>Redaguoti
                        </button>
                    </div>
                </div>
                <div class="body table-responsive">
                    <br />
                    <div>
                        <p class="description">
                            {{tour.description}}
                        </p>
                    </div>
                    <br />
                    <br />
                    <div>
                        <p>
                            Laikas, skirtas įvesti atsakymams, pasibaigus turui: <b>{{tour.timeToEnterAnswersInSeconds}}</b> (s)
                        </p>
                    </div>
                    <div>
                        <p>
                            Turo eilės numeris: <b>{{tour.orderNumber}}</b>
                        </p>
                    </div>
                    <hr />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="row-id">Klausimo nr.</th>
                                <th class="row-question">Klausimas</th>
                                <th class="row-more"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let question of questions; let i = index">
                                <td>
                                    {{question.orderNumber}}
                                </td>
                                <td>{{question.title}}</td>
                                <td>
                                    <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                            [routerLink]="['/app/mindfights/' + mindfightId + '/edit/tours/' + tourId + '/questions/' + question.id]">
                                        <span>Daugiau</span>
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
