<!--[@routerTransition]-->
<div>
    <div class="block-header">
        <h2>Mano vertinami protmūšiai</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="main-content">
                <div class="body">
                    <div class="row">
                        <app-mindfights-list [type]="'evaluating'"></app-mindfights-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="block-header">
        <h2>Mano sukurti protmūšiai</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="main-content">
                <div class="body">
                    <div class="row">
                        <app-mindfights-list [type]="'created'"></app-mindfights-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
