.margin-bottom-medium {
    margin-bottom: 20px;
}

.navigate-button {
    background-color: white;
    min-width: 150px;
}

.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.gray {
    color: gray;
}

.completed-label {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    margin: 10px 20px 30px 0;
}
