<div [@routerTransition]>
    <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
            (click)="goBack()" title="Grįžti į ankstesnį puslapį">
        <i class="fa fa-arrow-circle-left fa-xs"></i> Grįžti
    </button>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Įvertinti komandas</span>
                    </h4>
                    <span *ngIf="mindfight">Protmūšis: <b>{{mindfight.title}}</b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card" *ngIf="mindfight">
            <div class="header">
                <div class="row" *ngIf="!mindfight.isFinished && overallCount > 0">
                    <div class="display-flex flex-end">
                        <button type="button" class="btn bg-green waves-effect btn-sm"
                                [disabled]="overallCount != evaluatedCount"
                                (click)="completeMindfight()">
                            <span>Baigti protmūšio vertinimą</span>
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="display-flex flex-end margin-bottom-medium">
                        <small *ngIf="overallCount <= 0 || overallCount != evaluatedCount">
                            Norint baigti vertinti protmūšį, reikia įvertinti visas komandas
                        </small>
                    </div>
                </div>
                <div class="row" *ngIf="mindfight.isFinished">
                    <div class="display-flex flex-end">
                        <div class="completed-label">
                            <span>Protmūšis pabaigtas </span><i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <h2>
                            {{mindfight.title}}
                        </h2>
                    </div>
                    <div class="col-md-6 display-flex flex-end">
                        <h2>
                            <i class="fa fa-calendar"></i>
                            <span> {{mindfight.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
                        </h2>
                    </div>
                </div>
                <hr />
                <div class="row display-flex align-vertical-center" *ngIf="!mindfight.isFinished">
                    <div class="col-md-12">
                        <small>
                            Įvertinta komandų: {{evaluatedCount}} / {{overallCount}}
                        </small>
                    </div>
                </div>
                <hr />
                <table class="table table-hover" *ngIf="mindfightResults.length > 0">
                    <thead>
                        <tr>
                            <th>Įvertinta</th>
                            <th>Komandos pavadinimas</th>
                            <th>Vieta</th>
                            <th>Pelnyti taškai</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of mindfightResults; let i = index">
                            <td>
                                <input type="checkbox" id="isTeamEvaluated{{i}}" disabled
                                       [ngModel]="result.isEvaluated">
                                <label [attr.for]="'isTeamEvaluated'+i" title="Įvertinimo statusas"></label>
                            </td>
                            <td><a [routerLink]="['/app/team/' + result.teamId]">{{result.teamName}}</a></td>
                            <td>{{result.place ? (result.place === 0 ? '-' : result.place) : '-'}}</td>
                            <td>{{result.earnedPoints}}</td>
                            <td>
                                <div class="display-flex flex-end">
                                    <button *ngIf="!result.isEvaluated" type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                            [routerLink]="['/app/mindfights/evaluate/' + mindfight.id + '/team/' + result.teamId]">
                                        <span>Įvertinti</span>
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
