<div [@routerTransition]>
    <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
            [routerLink]="['/app/mindfights/' + mindfight.id]" title="Grįžti į protmūšio detales">
        <i class="fa fa-arrow-circle-left fa-xs"></i> Grįžti
    </button>
    <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float pull-right margin-bottom-medium navigate-button"
            [routerLink]="['/app/mindfights/' + mindfight.id + '/edit/tours']" title="Administruoti protmūšio turus">
        Turai <i class="fa fa-arrow-circle-right fa-xs"></i>
    </button>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Redaguoti protmūšį</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="mindfight" class="card main-content">
                <form #editMindfightForm="ngForm">
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="mindfight.title"
                                               placeholder="Pavadinimas"
                                               name="Title"
                                               type="text"
                                               maxlength="255" minlength="2"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput matTextareaAutosize class="form-control" [(ngModel)]="mindfight.description"
                                                  placeholder="Aprašymas"
                                                  name="Description"
                                                  type="text"
                                                  maxlength="2550" minlength="2"
                                                  required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group" *ngIf="loaded">
                                    <mat-form-field>
                                        <input matInput type="text" name="daterangeInput" daterangepicker [options]="singleDatepickerOptions"
                                               (selected)="selectedDateEvent($event)" class="form-control" placeholder="Starto laikas" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="mindfight.prepareTime"
                                               placeholder="Kiek minučių nuo starto bus galima prisijungti"
                                               name="startTimeframe"
                                               type="number"
                                               min="5" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="mindfight.teamsLimit"
                                               placeholder="Komandų kiekis (0: neribota)"
                                               name="MaxRegistrationCount"
                                               type="number"
                                               min="0" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="usersAllowedToEvaluate"
                                               placeholder="Vartotojų, galinčių vertinti atsakymus, el. paštai (atskirti kableliu)"
                                               name="Evaluators"
                                               type="text"
                                               maxlength="2550">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="deleteMindfight()" class="btn btn-danger left-align">
                            Ištrinti <i class="fa fa-times fa-xs"></i>
                        </button>
                        <button [disabled]="!editMindfightForm.form.valid || saving" (click)="updateMindfight()" class="btn btn-primary green">
                            Išsaugoti <i class="fa fa-check fa-xs"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card main-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Užsiregistravusios komandos</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" *ngIf="registrations.length > 0">
                        <thead>
                            <tr>
                                <th>Patvirtinta</th>
                                <th>Komandos pavadinimas</th>
                                <th>Registracijos laikas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registration of registrations; let i = index">
                                <td>
                                    <input type="checkbox" id="isTeamConfirmed{{i}}"
                                           [ngModel]="registration.isConfirmed"
                                           (click)="updateConfirmation(registration)">
                                    <label [attr.for]="'isTeamConfirmed'+i" title="Keisti patvirtinimo statusą"></label>
                                </td>
                                <td><a [routerLink]="['/app/team/' + registration.teamId]">{{registration.teamName}}</a></td>
                                <td>{{registration.creationTime | date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
