<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h2>
                {{mindfight.title}} <small class="event-description">{{mindfight.description}}</small>
            </h2>
            <ul class="header-dropdown m-r-0">
                <li>
                    <i class="fa fa-calendar"></i>
                </li>
                <li>
                    <span>{{mindfight.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
                </li>
            </ul>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <small *ngIf="mindfight.registeredTeamsCount < mindfight.playersLimit">
                        {{mindfight.registeredTeamsCount}} iš {{mindfight.playersLimit}} užsiregistravo.
                    </small>
                    <small *ngIf="mindfight.playersLimit > 0 && mindfight.registeredTeamsCount >= mindfight.playersLimit">
                        {{mindfight.registeredTeamsCount}} iš {{mindfight.playersLimit}} užsiregistravo. Registracija baigta.
                    </small>
                    <small *ngIf="mindfight.playersLimit <= 0">
                        {{mindfight.registeredTeamsCount}} užsiregistravo. Registracija neribota.
                    </small>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                            [routerLink]="['/app/mindfights', mindfight.id]">
                        <span>Daugiau</span>
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
