<div class="col-md-12" [@routerTransition]>
    <div class="card" *ngIf="mindfight">
        <app-mindfight-status-label [canEdit]="canEdit" [mindfight]="mindfight"></app-mindfight-status-label>
        <div class="header">
            <h2>
                {{mindfight.title}}
                <small class="event-description description">{{mindfight.description}}</small>
            </h2>
            <ul class="header-dropdown m-r-0">
                <li>
                    <i class="fa fa-calendar"></i>
                </li>
                <li>
                    <span>{{mindfight.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
                </li>
            </ul>
            <hr />
            <app-register *ngIf="!canEvaluate && !canEdit" [mindfight]="mindfight" (notifyRegisterChange)="onRegisterChange($event)"></app-register>
            <div class="row display-flex align-vertical-center">
                <div class="col-md-6">
                    <small *ngIf="mindfight.registeredTeamsCount < mindfight.teamsLimit">
                        {{mindfight.registeredTeamsCount}} iš {{mindfight.teamsLimit}} užsiregistravo.
                    </small>
                    <small *ngIf="mindfight.teamsLimit > 0 && mindfight.registeredTeamsCount >= mindfight.teamsLimit">
                        {{mindfight.registeredTeamsCount}} iš {{mindfight.teamsLimit}} užsiregistravo. Registracija baigta.
                    </small>
                    <small *ngIf="mindfight.teamsLimit <= 0">
                        {{mindfight.registeredTeamsCount}} užsiregistravo. Registracija neribota.
                    </small>
                    <br />
                    <small>Kūrėjas: {{mindfight.creatorEmail}}</small>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                [routerLink]="['/app/mindfights', mindfight.id]">
                            <span>Daugiau</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
