<div [@routerTransition]>
    <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
            [routerLink]="['/app/team']" title="Grįžti į komandos puslapį">
        <i class="fa fa-arrow-circle-left fa-xs"></i> Komanda
    </button>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <form #createTeamForm="ngForm" novalidate (ngSubmit)="createTeam()">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>Sukurti naują komandą</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="team.name"
                                               placeholder="Pavadinimas"
                                               name="Title"
                                               type="text"
                                               maxlength="255" minlength="2"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput matTextareaAutosize class="form-control" [(ngModel)]="team.description"
                                                  placeholder="Aprašymas"
                                                  name="Description"
                                                  type="text"
                                                  minRows="5"
                                                  maxlength="2550" minlength="2"
                                                  required>
                                    </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!createTeamForm.form.valid || saving" type="submit" class="btn btn-primary green">
                            Sukurti <i class="fa fa-check fa-xs"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
