<div class="block-header" [@routerTransition]>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Mano komandos artėjantys protmūšiai</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="main-content">
                <div class="body">
                    <div class="row">
                        <app-mindfights-list *ngIf="playerInfo && playerInfo.teamId" [type]="'registered'"></app-mindfights-list>
                        <div *ngIf="!playerInfo || (playerInfo && !playerInfo.teamId)" class="display-flex flex-center">Žaidėjo komanda nerasta</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
