.margin-bottom-medium {
    margin-bottom: 20px;
}

.navigate-button {
    background-color: white;
    min-width: 150px;
}

.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    align-items: center;
    justify-content: center;
}

.small-padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}

.red {
    background-color: #ffb2b2;
}
