<div [@routerTransition]>
    <div class="col-md-6 paddingless">
        <button type="button" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
                (click)="goBack()" title="Grįžti į ankstesnį puslapį">
            <i class="fa fa-arrow-circle-left fa-xs"></i> Grįžti
        </button>
    </div>
    <div class="col-md-6 paddingless display-flex flex-end" *ngIf="canEdit">
        <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
                [routerLink]="['/app/mindfights/' + mindfight.id + '/edit/tours']" title="Administruoti protmūšio turus">
            Turai <i class="fa fa-arrow-circle-right fa-xs"></i>
        </button>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content" *ngIf="mindfight">
                <app-mindfight-status-label [canEdit]="canEdit" [mindfight]="mindfight"></app-mindfight-status-label>
                <div class="header header-highlight">
                    <h2 class="header-highlight-text">
                        {{mindfight.title}} <span class="event-detail-header"><i class="fa fa-calendar"></i> <span>{{mindfight.startTime | date:'yyyy-MM-dd HH:mm'}}</span></span>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <div>
                                <button *ngIf="hasMindfightStarted" type="button"
                                        class="btn bg-green waves-effect waves-light"
                                        [routerLink]="['/app/mindfights/' + mindfightId + '/results']">
                                    Protmūšio rezultatai
                                </button>
                                <button *ngIf="(canEvaluate || canEdit) && hasMindfightStarted" type="button"
                                        class="btn bg-orange waves-effect waves-light"
                                        [routerLink]="['/app/mindfights/evaluate/' + mindfightId + '/details/']">
                                    Vertinti atsakymus
                                </button>
                                <button *ngIf="canEdit" type="button"
                                        class="btn bg-red waves-effect waves-light"
                                        [routerLink]="['/app/mindfights/' + mindfightId + '/edit/']">
                                    Redaguoti
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <br />
                    <div class="col-xs-12 paddingless">
                        <div class="col-xs-2">
                            <button type="button"
                                    class="btn bg-green waves-effect waves-light hover-zoom-effect"
                                    [routerLink]="['/app/mindfights/' + mindfightId + '/play']"
                                    [disabled]="!isRegistrationActive || !isActiveInTeam"
                                    title="{{ isRegistrationActive ? (isActiveInTeam ? 'Žaisti protmūšį' : 'Jūs esate neaktyvus komandoje') : 'Komandos registracija neaktyvi'}}">
                                Žaisti protmūšį
                                <div class="icon bg-green">
                                    <i class="material-icons">play_arrow</i>
                                </div>
                            </button>
                        </div>
                        <div class="content col-xs-10">
                            <p class="description">{{mindfight.description}}</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <app-register *ngIf="!canEvaluate && !canEdit && !hasMindfightStarted" [mindfight]="mindfight" (notifyRegisterChange)="onRegisterChange($event)"></app-register>
                    <div>
                        <b>
                            <small *ngIf="mindfight.registeredTeamsCount < mindfight.teamsLimit">
                                {{mindfight.registeredTeamsCount}} iš {{mindfight.teamsLimit}} užsiregistravo.
                            </small>
                            <small *ngIf="mindfight.teamsLimit > 0 && mindfight.registeredTeamsCount >= mindfight.teamsLimit">
                                {{mindfight.registeredTeamsCount}} iš {{mindfight.teamsLimit}} užsiregistravo. Registracija baigta.
                            </small>
                            <small *ngIf="mindfight.teamsLimit <= 0">
                                {{mindfight.registeredTeamsCount}} užsiregistravo. Registracija neribota.
                            </small>
                        </b>
                        <br />
                        <small>Kūrėjas: {{mindfight.creatorEmail}}</small>
                    </div>
                    <hr />
                    <table id="mindfightRegistrationsTable" class="table table-hover" *ngIf="registrations.length > 0">
                        <thead>
                            <tr>
                                <th>Patvirtinta</th>
                                <th>Komandos pavadinimas</th>
                                <th>Registracijos laikas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registration of registrations; let i = index">
                                <td>
                                    <input type="checkbox" id="isTeamConfirmed{{i}}" [disabled]="!canEdit"
                                           [ngModel]="registration.isConfirmed"
                                           (click)="updateConfirmation(registration)">
                                    <label [attr.for]="'isTeamConfirmed'+i" title="Patvirtinimo statusas"></label>
                                </td>
                                <td><a [routerLink]="['/app/team/' + registration.teamId]">{{registration.teamName}}</a></td>
                                <td>{{registration.creationTime | date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
