.highlighted {
    background-color: aliceblue;
}

.description {
    white-space: pre-line;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

.navigate-button {
    background-color: white;
    min-width: 150px;
}

.status-label {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 10px 20px 30px 0;
}

.inactive-color {
    background-color: #e0ad00;
}

.active-color {
    background-color: #96bdff;
}

.completed-color {
    background-color: #4CAF50;
}

.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.paddingless {
    padding: 0;
}

.hover-zoom-effect .icon i {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
