<div [@routerTransition]>
    <button type="button" data-toggle="modal" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button"
            [routerLink]="['/app/mindfights/' + mindfightId + '/edit/tours/' + tourId + '/questions']" title="Grįžti į klausimų sąrašą">
        <i class="fa fa-arrow-circle-left fa-xs"></i> Klausimai
    </button>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <form #createQuestionForm="ngForm" novalidate (ngSubmit)="createQuestion()">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>Sukurti naują klausimą</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="question.title"
                                               placeholder="Pavadinimas"
                                               name="Title"
                                               type="text"
                                               maxlength="255" minlength="2"
                                               required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput matTextareaAutosize class="form-control" [(ngModel)]="question.description"
                                                  placeholder="Aprašymas"
                                                  name="Description"
                                                  type="text"
                                                  minRows="5"
                                                  maxlength="2550" minlength="2"
                                                  required>
                                    </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput matTextareaAutosize class="form-control" [(ngModel)]="question.answer"
                                                  placeholder="Atsakymas"
                                                  name="Answer"
                                                  type="text"
                                                  minRows="5"
                                                  maxlength="2550" minlength="2"
                                                  required>
                                    </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="question.timeToAnswerInSeconds"
                                               placeholder="Klausimo peržiūros laikas (sekundėmis)"
                                               name="TimeToAnswerInSeconds"
                                               type="number" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="question.points"
                                               placeholder="Maksimalus taškų kiekis"
                                               name="Points"
                                               type="number" min="1" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!createQuestionForm.form.valid || saving" type="submit" class="btn btn-primary green">
                            Sukurti <i class="fa fa-check fa-xs"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
