<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Mano vertinami protmūšiai</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngFor="let mindfight of mindfights">
        <div class="card" *ngIf="mindfight">
            <div class="row" *ngIf="mindfight.isFinished">
                <div class="display-flex flex-end">
                    <div class="completed-label">
                        <span>Protmūšis pabaigtas </span><i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div class="header">
                <h2>
                    {{mindfight.title}}
                </h2>
                <ul class="header-dropdown m-r-0">
                    <li>
                        <i class="fa fa-calendar"></i>
                    </li>
                    <li>
                        <span>{{mindfight.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
                    </li>
                </ul>
                <hr />
                <div class="row display-flex align-vertical-center">
                    <div class="col-md-6">
                        <small *ngIf="mindfightResults">
                            Įvertinta komandų {{evaluatedCount}} / {{mindfightResults.length}}
                        </small>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                    [routerLink]="['/app/mindfights', mindfight.id]">
                                <span>Daugiau</span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!mindfights || mindfights.length <= 0">
        <div class="col-md-12 display-flex flex-center">
            <span>Protmūšių sąrašas tuščias</span>
        </div>
    </div>
</div>
