<div [@routerTransition]>
    <button type="button" class="btn btn-link waves-effect waves-float margin-bottom-medium navigate-button" (click)="goBack()"
        title="Grįžti į ankstesnį puslapį">
        <i class="fa fa-arrow-circle-left fa-xs"></i> Grįžti
    </button>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span *ngIf="isMyTeam">Mano komandos informacija</span>
                        <span *ngIf="!isMyTeam">Komandos informacija</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!team">
        <div class="row">
            <div class="col-md-12 display-flex flex-center">
                <span>Jūs neturite komandos</span>
            </div>
        </div>
        <div class="display-flex flex-end">
            <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float margin-bottom-medium"
                [routerLink]="['/app/team/create']" title="Sukurti naują komandą">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
    <div *ngIf="team">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card main-content" *ngIf="team">
                    <div class="header display-flex align-center header-highlight">
                        <div class="col-xs-8 display-flex">
                            <h2 class="header-highlight-text">
                                {{team.name}}
                            </h2>
                        </div>
                        <div class="col-xs-4 display-flex flex-end" *ngIf="isMyTeam">
                            <div *ngIf="isTeamLeader">
                                <button [routerLink]="['/app/team/' + team.id + '/managePlayers']" type="button" class="btn white-bg waves-effect waves-light">
                                    Valdyti žaidėjus
                                </button>
                            </div>
                            <div *ngIf="isTeamLeader">
                                <button [routerLink]="['/app/team/' + team.id + '/edit']" type="button" class="btn white-bg waves-effect waves-light">
                                    Redaguoti
                                </button>
                            </div>
                            <div *ngIf="!isTeamLeader">
                                <button (click)="leaveCurrentTeam()" title="Palikti dabartinę komandą" type="button" class="btn leave-button waves-effect waves-light">
                                    Išeiti iš komandos
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <br/>
                        <div>
                            <small><b>Komandos aprašymas:</b></small>
                            <br/>
                            <p class="description">{{team.description}}</p>
                        </div>
                        <br/>
                        <br/>
                        <div>
                            <p>
                                Bendri komandos taškai:
                                <b>{{team.gamePoints}}</b>
                            </p>
                        </div>
                        <div>
                            <p>
                                Komandos narių kiekis:
                                <b>{{team.playersCount}}</b>
                            </p>
                        </div>
                        <table *ngIf="activeTeamPlayers" class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="active-row">Aktyvus</th>
                                    <th class="username-row">Slapyvardis</th>
                                    <th class="points-row">Taškai</th>
                                    <th class="captain-row"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let teamPlayer of teamPlayers; let i = index">
                                    <td>
                                        <input type="checkbox" id="isActiveInTeam{{i}}" disabled [ngModel]="teamPlayer.isActiveInTeam">
                                        <label [attr.for]="'isActiveInTeam'+i" title="Aktyvus komandoje"></label>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/app/player/' + teamPlayer.id]">{{teamPlayer.userName}}</a>
                                    </td>
                                    <td>
                                        {{teamPlayer.points}}
                                    </td>
                                    <td><span *ngIf="teamPlayer.isTeamLeader"><i class="fa fa-star fa-2x" title="Komandos kapitonas"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card main-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">
                            <span>Komandos protmūšių istorija</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <app-mindfights-history [teamId]="team.id"></app-mindfights-history>
    </div>
</div>
