.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.navigate-button {
    background-color: white;
    min-width: 150px;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

.small-padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}

.active-row {
    width: 10%;
}

.text-row {
    width: 30%;
}

.id-row {
    width: 10%;
}

.username-row {
    width: 30%;
}

.points-row {
    width: 30%;
}

.vertical-align {
    vertical-align: middle;
}

.white-bg {
    background-color: white;
}

.leave-button {
    background-color: #ff6f77;
    color: white;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.leave-button:hover {
    background-color: #e6000d;
}
