.red {
    background-color: #ffffff;
}

.green {
    background-color: green;
}

.form-group {
    margin-bottom: 0;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

.navigate-button {
    background-color: white;
    min-width: 150px;
}
