<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <form #createMindfightForm="ngForm" id="frm_create_event" novalidate (ngSubmit)="createMindfight()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Sukurti naują protmūšį</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput class="form-control" [(ngModel)]="mindfight.title"
                                           placeholder="Pavadinimas"
                                           name="Title"
                                           type="text"
                                           maxlength="255" minlength="2"
                                           required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <textarea matInput matTextareaAutosize class="form-control" [(ngModel)]="mindfight.description"
                                           placeholder="Aprašymas"
                                           name="Description"
                                           type="text"
                                           maxlength="2550" minlength="2"
                                           required></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-select placeholder="Protmūšio tipas" class="form-control" [(ngModel)]="selectedMindfightType" name="mindfightType" required>
                                        <mat-option value="1">Nuo iki</mat-option>
                                        <mat-option value="2">Tam tikru metu</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedMindfightType == 1">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" name="daterangeInput" daterangepicker [options]="rangeDatepickerOptions"
                                               (selected)="selectedDateEvent($event)" class="form-control" placeholder="Starto laikas nuo iki" required/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedMindfightType == 2">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" name="daterangeInput" daterangepicker [options]="singleDatepickerOptions"
                                               (selected)="selectedDateEvent($event)" class="form-control" placeholder="Starto laikas" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput class="form-control" [(ngModel)]="mindfight.prepareTime"
                                               placeholder="Kiek minučių nuo starto bus galima prisijungti"
                                               name="startTimeframe"
                                               type="number"
                                               min="5" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput class="form-control" [(ngModel)]="mindfight.teamsLimit"
                                           placeholder="Komandų kiekis (0: neribota)"
                                           name="MaxRegistrationCount"
                                           type="number"
                                           min="0" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="goBack()" type="button" class="btn red"><i class="fa fa-arrow-circle-left fa-xs"></i> Atšaukti</button>
                    <button [disabled]="!createMindfightForm.form.valid || saving" type="submit" class="btn btn-primary green">
                        Sukurti <i class="fa fa-check fa-xs"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
