.red {
    background-color: #ffb2b2;
}

.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    align-items: center;
    justify-content: center;
}

.small-padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}
