<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    <span>Žaidėjo informacija</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content" *ngIf="playerInfo">
            <div class="header display-flex align-center">
                <div>
                    <h2>
                        {{playerInfo.name}}
                    </h2>
                </div>
            </div>
            <div class="body table-responsive">
                <br />
                <div>
                    <p>
                        El. pašto adresas: <b>{{playerInfo.emailAddress}}</b>
                    </p>
                </div>
                <br />
                <div>
                    <p>
                        Taškai: <b>{{playerInfo.points}}</b>
                    </p>
                </div>
                <br />
                <div *ngIf="playerInfo.teamName" class="display-flex">
                    <div class="col-xs-6 paddingless">
                        <p>
                            Komanda: <b>{{playerInfo.teamName}}</b>
                        </p>
                        <br />
                        <p>
                            Komandos kapitonas: <b>{{playerInfo.isTeamLeader ? 'Taip' : 'Ne'}}</b>
                        </p>
                    </div>
                    <div class="col-xs-6 paddingless display-flex flex-end flex-center">
                        <button type="button" class="btn white waves-effect btn-sm"
                                [routerLink]="['/app/team/']">
                            <span>Komandos puslapis</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="!playerInfo.teamName">
                    <p>
                        Komanda: <b>-</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    <span>Mano protmūšių istorija</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<app-mindfights-history *ngIf="playerInfo" [userId]="playerInfo.id"></app-mindfights-history>
