<div class="row" *ngIf="mindfight.isFinished || canEdit">
    <div class="display-flex flex-end">
        <div class="status-label completed-color" *ngIf="mindfight.isFinished">
            <span>Protmūšis pabaigtas </span><i class="fa fa-check"></i>
        </div>
        <div *ngIf="canEdit && !mindfight.isFinished">
            <button class="btn status-label inactive-color" type="button" *ngIf="!mindfight.isActive" title="Aktyvuoti">
                <span>Protmūšis neaktyvus </span><i class="fa fa-ban"></i>
            </button>
            <button class="btn status-label active-color" type="button" *ngIf="mindfight.isActive" title="Deaktyvuoti">
                <span>Protmūšis aktyvus </span><i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</div>
