.status-label {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 10px 20px 10px 0;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.inactive-color {
    background-color: #e0ad00;
}

.active-color {
    background-color: #96bdff;
}

.completed-color {
    background-color: #4CAF50;
}

.display-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.inactive-color:hover {
    background-color: #96bdff;
}

.active-color:hover {
    background-color: #e0ad00;
}
