<div class="block-header" [@routerTransition]>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        <span>Artėjantys protmūšiai</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="main-content">
                <div class="body">
                    <div class="row">
                        <app-mindfights-list [type]="'upcoming'"></app-mindfights-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
